---
  name: "publish new version"
  run-name: "Publish version triggered by ${{ github.actor }} at ${{ github.head_ref }}"
  on:
    workflow_dispatch:
  permissions:
    contents: write
  jobs:

    pnvn:
      strategy:
        matrix:
          os_arch: [ "linux-amd64", "linux-arm64", "darwin-amd64", "darwin-arm64" ]
      name: publish new version
      outputs:
        time: ${{ steps.get-time.outputs.time }}

      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: get time
          id: get-time
          run: |
            sudo apt update -y
            sudo apt install upx-ucl -y
            echo "time=$(date +'%Y%m%d%H%M')" >> "$GITHUB_OUTPUT"
            echo "timeYY=$(date +'%y')" >> "$GITHUB_OUTPUT"
            echo "timeMM=$(date +'%m')" >> "$GITHUB_OUTPUT"
            echo "timeDD=$(date +'%d')" >> "$GITHUB_OUTPUT"
        - uses: hustcer/setup-nu@v3
          with:
            version: "*"
        - name: Setup Go 1.25
          uses: actions/setup-go@v5
          with:
            go-version: "1.25"
        - name: dl packages
          run: |
            nu dl.nu dl

        - name: go build and release
          run: |
            OS_ARCH=${{ matrix.os_arch }}
            echo "OS_ARCH=$OS_ARCH"
            GOOS=${OS_ARCH%%-*}
            GOARCH=${OS_ARCH##*-}
            echo "GOOS=$GOOS"
            echo "GOARCH=$GOARCH"
            GOOS=${GOOS} GOARCH=${GOARCH} go build -o unify-${{matrix.os_arch}} ./cmd
            upx --best --lzma  unify-${{matrix.os_arch}} || true
            tar -czvf unify-${{ steps.get-time.outputs.time }}-${{matrix.os_arch}}.tgz unify-${{matrix.os_arch}}

        - uses: "marvinpinto/action-automatic-releases@latest"
          name: "latest release"
          with:
            repo_token: "${{ secrets.HUB_TOKEN }}"
            prerelease: false # auto release to latest
            automatic_release_tag: release-${{ steps.get-time.outputs.time }}-${{matrix.os_arch}}
            title: "Latest Release-${{ steps.get-time.outputs.time }} release-${{matrix.os_arch}}"
            files: |
              unify-${{ steps.get-time.outputs.time }}-${{matrix.os_arch}}.tgz

    publish-new-version-formula:
      name: pb formula
      needs: [pnvn]

      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - uses: hustcer/setup-nu@v3
          with:
            version: "*"
        - name: unify rb
          shell: nu {0}
          run: |
            use std log
            let os_arch = [ "linux-amd64", "linux-arm64", "darwin-amd64", "darwin-arm64"]
            for osarch in $os_arch {
              if ($osarch | str contains "darwin") == false {
                continue
              }
              let url = $"/repos/peiyuanwang0/homebrew-unify/releases/tags/release-${{ needs.pnvn.outputs.time }}-($osarch)"
              log info $"url: ($url)"
              let sha256SumKey = (gh api   -H "Accept: application/vnd.github+json"   -H "X-GitHub-Api-Version: 2022-11-28"   $"/repos/peiyuanwang0/homebrew-unify/releases/tags/release-${{ needs.pnvn.outputs.time }}-($osarch)" | from json | get assets | get digest | get 0 | split row ":" | get 1)
              log info "sha256SumKey: ($sha256SumKey)"
              let templatePath = "templates/unify.rb.template"
              let outputPath = "Formula/unify.rb"
              open $templatePath | str replace -a "@@($osarch)-sha256@@" $sha256SumKey | save -f $outputPath
              open $templatePath | str replace -a "@@($osarch)@@" ${{ needs.pnvn.outputs.time }} | save -f $outputPath
            }

        - name: Commit and push changes
          env: 
            GITHUB_TOKEN: ${{ secrets.HUB_TOKEN }}
          run: |
            git config --local user.name "peiyuan.wang"
            git config --local user.email "peiyuan.wang@lotusflare.com"
            git config pull.rebase false
            git add Formula/unify.rb
            git commit -m "Update unify formula at ${{ needs.pnvn.outputs.time }}" || echo "No changes to commit"
            git push origin HEAD:main
            