---
  name: "publish new version"
  run-name: "Publish version triggered by ${{ github.actor }} at ${{ github.head_ref }}"
  on:
    workflow_dispatch:
  permissions:
    contents: write
  jobs:

    pnvn:
      strategy:
        matrix:
          os_arch: [ "linux-amd64" ]
      name: publish new version
      outputs:
        time: ${{ steps.get-time.outputs.time }}

      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: get time
          id: get-time
          run: |
            sudo apt update -y
            sudo apt install upx-ucl -y
            echo "time=$(date +'%Y%m%d%H%M')" >> "$GITHUB_OUTPUT"
            echo "timeYY=$(date +'%y')" >> "$GITHUB_OUTPUT"
            echo "timeMM=$(date +'%m')" >> "$GITHUB_OUTPUT"
            echo "timeDD=$(date +'%d')" >> "$GITHUB_OUTPUT"
        - uses: hustcer/setup-nu@v3
          with:
            version: "*"

        - name: dl packages
          shell: nu {0}
          run: |
            echo "abcder=1234\n" | save --append $env.GITHUB_ENV

        - name: go build and release
          run: |
            env